.navbar-nav .nav-item {
    margin-left: 15px;
    margin-right: 15px;
}
.navbar-nav .nav-link {
    position: relative;
    color: #000; /* Default color */
    transition: all 0.3s ease;
}
.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #000066; /* Bootstrap primary or your custom color */
    transition: width 0.3s ease;
}
.navbar-nav .nav-link:hover {
    color: #000066; /* Hover color */
}
.navbar-nav .nav-link:hover::after {
    width: 100%;
}
