section {
  scroll-margin-top: 70px; /* height of fixed navbar */
}

.hero_section{
    background: linear-gradient(to right, #000066, #000066,#23468d );
    /* background-color: #000066; */
    min-height: 610px;
    margin-top: 75px;
    padding: 50px 0 ;

   
} 
.hero_title{
    font-size: calc(2rem + 0.9vw);
    color: #fff;
    /* text-align: center; */
    margin-bottom: 20px;
}
.hero_title_01 {
    font-size: calc(2rem + 0.9vw);
    color: #000066;
    text-align: center;
    margin-bottom: 20px;
}

.text-color{
    color:#fff
}
.counselling_btn{
    background-color: #ffc000;
    color: #000;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.counselling_btn:hover{
    background-color: #ffc000;
    color: #000;
}
.font-size_title{
    font-size: calc(3rem + 1vw);
    color: #ffc000;
   
}
.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* or "cover" if you want it to fill */
    opacity: 0.8;
    position: relative;
    top: 172px;
}
/* .font_size_about{
    font-size: calc(1.0rem + 0.5vw);
} */
/* .top_possition{
    position: relative;
    top: 50px;
    background-color:linear-gradient(to bottom, #000066, #009999);

} */

/* form section */
/* .registration-form{
	padding: 25px 0;
    position: inherit;
} */
 .model_content{
    background-color:transparent !important;
    border: none !important;

 }

.registration-form form{
    background-color: #fff;
    max-width: 600px;
    margin: auto;
    padding: 50px 20px; 
    border-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075); 
    position: relative;
    top: 25px;

} 
.registration-form form h2{
    text-align: center;
    font-size: 30px;
    /* margin-bottom: 20px; */
    color: #333;
}
.registration-form form {
    text-align: center;
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
}
.registration-form form h5{
    margin-bottom: 20px;
     font-size: 16px;
    font-weight: 500;
    color:#ffc000;
}
.registration-form .form-icon{
	text-align: center;
    background-color: #5891ff;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    line-height: 100px;
}

.registration-form .item{
	border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
}
/* .registration-form .item :focus{
	border-color:none;
    box-shadow: none;
} */
  .fr_cun_btn{
            width: 50%;
        }
        .fr_cun_btn:hover{
            background-color: #ffc000;
           
        }
        .fr_cun_btn:active {
            background-color: #e6b800;
        }



.registration-form .create-account{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #ffc000;
    border: none;
    color: #000;
    /* margin-top: 20px; */
}
.registration-form .create-account:active{
    background-color: #e6b800;
}
.bg-color{
    /* background-color: #23468d17; */
    background-color: color-mix(in oklab, oklch(0.35 0.14 278.92)  6%, transparent);
}
.accordion{

    --bs-accordion-bg:none;
}
.icon{
    /* width: 30px;
    height: 30px;
    margin-right: 10px; */
    /* vertical-align: middle; */
    font-size: 41px;
    padding: 0 20px;
    color:#000066;
    margin-right: 10px;
}
.button_size{
    width: 20%;
}
.rating li i{
    color:#e6b800 ;
}
.quote i{
    font-size:30px;
    color:#000066;
}
/* faq section */

.accordion-item {
    border: none;
    border-bottom: 1px solid #e0e0e0;
}

.accordion-button {
    font-size: 20px;
    padding: 20px 0;
    font-weight: 600;
    color: #000066;
    background-color: transparent;
}

.accordion-button:not(.collapsed) {
    color: #000066;
    background-color: transparent;
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: transparent;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23333'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    color:#000066;
}

.accordion-body {
    padding: 0 0 20px 0;
}

/* scrollling */
.scroll {
            position: relative;
            width: 100%;
            /* background-color: $boxify-bg-light-dark; */
            overflow: hidden;
            z-index: 1;
           
        }

        .m-scroll {
            overflow: hidden;
            height: 100%;
            white-space: nowrap;
            animation: scrollImg 25s infinite linear;
            margin: 0;
            font-size: 0;
            display: flex;
            justify-content: space-between;
            width: 200%;
        }
         .m-scroll1 {
          
            animation: scrollImg1 5s infinite linear;
           
        }


        .m-scroll span {
            display: inline-block;
            margin: 0;
            padding: 0;
            color: white;

        }

        .m-scroll img {
            /* width: 150px; */
            height: 100px;
            display: block;
        }

        @keyframes scrollImg {
            0% {
                transform: translate(0, 0);
            }

            100% {
                transform: translate(-50%, 0%);
            }
        }
         @keyframes scrollImg1 {
            0% {
                transform: translate(0, 0);
            }

            100% {
                transform: translate(-50%, 0%);
            }
        }


        .card_manual {
            --bs-card-border-color:#0000666e;
            box-shadow: 0px 10px 10px 1px #0000662b;
           
        }
        .pading_t_b{
            padding-top:3rem !important;
            padding-bottom:3rem !important;
        }
/* button */
@media (max-width: 576px) {
    .registration-form form{
        padding: 30px 10px;
        top: 0px;
    }

    .registration-form .form-icon{
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
    .button_size{
        width: 50%;
    }
     .fr_cun_btn{
            width: 60%;
        }
}


